html, body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

button {
    height: 5vh;
    width: 20vh;
}

.mainDiv {
    display: flex;
    height: 90vh;
    width: 90vh;
    flex-wrap: wrap;
}

.childDiv {
    background-color: lightgray;
}